$background-main: #12121f;
$primary: #222227;
$secondary: #167e56;
$secondary-dark: #273431;
$text-color-main: #eee;
$purplish-grey: #6f6f6f;
$light-gray: #dcdcdf;
$orange: #D58636;
//For JSS
:root {
	--text-color-main: #eee;
	--background-main: #12121f;
	--primary: #222227;
	--secondary: #167e56;
	--secondary-dark: #273431;
	--purplish-grey: #6f6f6f;
    --light-gray: #dcdcdf;
}
