@import "../../styles/palette";

.container {
  width: 100%;
  height: 100vh;
  background-color: $background-main;
  color: $text-color-main;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}